.headerQuiz {
    background-color: #10738B;
    box-shadow: 0px 4px 0.4em #551A8B, 0px 8px 0.4em #10738B;
}
.titleQuiz {
    color: white;
    text-align: center;
    box-sizing: auto;
    margin: auto;
    padding: 5vh;
}

.quizContainer{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 80vh;
    box-sizing: border-box;
}
.questionContainer{
    margin: 0em 2em;
    padding: 2em;
    border: 2px solid red;
    border-radius: 10px;
    border: 1px solid #551A8B;
    border-radius: 10px;
    box-shadow: 2px 4px 0.4em #10738B, 0.4em 0.4em 0.4em #551A8B;
}
.questionSentence{
    text-align: center;
    font-size: 20px;
}
.buttonContainer{
    display: flex;
    justify-content: space-evenly;
}
button{
    background-color: #551A8B;
    border: 1px solid #551A8B;
    box-shadow: 2px 2px 0.2em #10738B;
    border-radius: 10px;
    color: white;
    padding: 0.5em 2em;
    font-size: 20px;
    cursor: pointer;
}
.questionNumber{
    text-align: center;
    font-size: 25px;
}
.finishContainer{
   display: flex; 
   justify-content: center;
   align-items: center;
   height: 80vh;
   /* display:none; */
}
.finishContainer button:hover{
    background-color: #10738B;
    border: 1px solid #10738B;
    box-shadow: 2px 2px 0.2em #551A8B;
}

@media (max-width: 350px) {
    .buttonContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0em 2em;
    }
    button{
        margin: 0.5em 0em;
    }
  }
